
    <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>FAQ</title>
    </head>

    <div class="logo">
        <a href="index.html">
            <img class="logo" src="Logo.png">
         </a>
    </div>

    <body>

        <h1>Westcoast Wombat Stadium FAQ</h1>

        <br> 

    <div id="page"> 
        <div class="navBar"><a href="index">Home</a></div>
        <div class="navBar"><a href="login">Login</a></div>
        <div class="navBar"><a href="buytickets">Buy Tickets</a></div>
        <div class="navBar"><a href="cart">Cart</a></div>
        <div class="navBar"><a href="history">Purchase History</a></div>
        <div class="navBar"><a href="account">Account</a></div>
        <div class="navBar"><a href="faq">FAQ</a></div>
        <div class="navBar"><a href="admin">Admin</a></div>
    </div><br/>

        <br>
            
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Dean_Dome_Stripe_Out.JPG" width="600" height="400">

        <br>

        <br>
        <h3>
            About the Westcoast Wombat Stadium POS System
        </h3>
        <p>
            With the addition of external vendors, this POS system will serve all resell booths located within the Wombat Stadium. Please note, all employees should
            attend the Wombat POS Training Prior to utilizing this system. For any questions regarding available training, please contact your manager. 
        </p>

        <br>
        <h3>
            How do I sell tickets?
        </h3>
        <p>
            To sell a ticket, please locate the customer in the Customers tab using the implemented search functionality. After finding the user, select their account and
            navigate to the tickets page. From there, add user tickets to their cart and checkout using the users method of payment located on their account. 
        </p>

        <br>

        <h3>
            I can't find the customer in the database, now what? 
        </h3>
        <p>
            If you cannot find the customer in the database, please use the "Register" tab in order to add a new customer to the POS system. 
        </p>

         <br>
        
        <h3>
            Still have questions?
        </h3>
        <p>
            Please contact your shift manager for help. If the database is down or not working, please contact our IT team at grigoris@oregonstate.edu. 
        </p>

        <br>
        <p>
            Image Source: https://upload.wikimedia.org/wikipedia/commons/3/33/Dean_Dome_Stripe_Out.JPG
        </p><br/>


    </body>
