
<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<title>Wombat Center</title>
</head>

<div class="logo">
	<a href="index.html">
		<img class="logo" src="Logo.png">
	 </a>
</div>


<body>
	<H1>WOMBAT STADIUM POS</H1>
    <div id="page"> 
        <div class="navBar"><a href="homepage">HOME</a></div>
        <div class="navBar"><a href="register">REGISTER</a></div>
        <div class="navBar"><a href="pos">POS</a></div>
        <div class="navBar"><a href="faq">FAQ</a></div>

        <div class="navBar"><a href="login">Login</a></div>


        <div class="navBar"><a href="buytickets">Buy Tickets</a></div>
        <div class="navBar"><a href="cart">Cart</a></div>
        <div class="navBar"><a href="history">Purchase History</a></div>
        <div class="navBar"><a href="account">Account</a></div>
        
        <div class="navBar"><a href="admin">Admin</a></div>
    </div><br/>


    <H2> Welcome to the Wombat Stadium Point of Sale (POS) System </H2><br/>
    <H3> To get started on sales, select POS in the navigation bar. </H3><br/>
    <H3> Please contact your shift manager regarding any sales questions or refer to the employee FAQ. </H3><br/>


	<div style="text-align:center">
        <img src="https://ca-times.brightspotcdn.com/dims4/default/6e64863/2147483647/strip/true/crop/2048x1363+0+0/resize/840x559!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Ff6%2Fb8%2F5dd00e91251b92ecfb823a672679%2Fla-xpm-photo-2013-may-16-la-fi-tn-verizon-staples-center-free-wifi-20130516">
    </div>

    <p>
    	Image Source: https://www.latimes.com/business/la-xpm-2013-may-16-la-fi-tn-verizon-staples-center-free-wifi-20130516-story.html
    </p><br/>

</body>
