<h1>Current people:</h1>

    <form id="addperson" action="/register" method="post">
    Name: <input type="text" name="customerName" required><br>
    Email: <input type="text" name="customerEmail" required><br>
    Pass: <input type="text" name="customerPass" required><br>
    Credit: <input type="text" name="customerCredit" required><br>
    Address: <input type="text" name="customerAddress" required><br>
    AptNum: <input type="text" name="customerAptNum"><br>
    Phone: <input type="text" name="customerPhone" required><br>
    Age: <input type="date" name="customerBirthdate" required><br>
    <input type="submit" value="Submit">
    </form>
    
</table> 
